<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Adding our file</title>
		<link rel="stylesheet" href="css/style.css"
	</head>	
	<body>
	<div id="box1">
		<p>content here</p>
	</div>	
#box1 	{
	background-color: #888888;
	padding: 30px;
	border: 10px dashed red;
	font-size: 30px:
}
		
	</body>
</html>	